/* src/styles/BusquedaPasajes.css */

/* Estilos para el contenedor principal */
.container {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
  }
  
  /* Estilos para los títulos */
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para las etiquetas y selectores */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para el botón */
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #0056b3;
  }